*{
 margin: 0;
 padding:0;

}

img {
 max-width: 100%;
 height: auto;
}

body h1{
 font-family: 'PT Serif', serif;

}

body h2{
 font-family: 'Comfortaa', cursive;

}

body p{
 font-family: 'Lora', serif; 

}

.flex{
 display: flex;

}

.grid{
 display: grid;

}
   

/*INDEX.HTML/
/*HEADER*/
 .fondonav{
  background-color: #2f5241;

}

 .navbar-light .navbar-nav .nav-link {
 color: white;

}

.navbar-light .navbar-nav .nav-link:hover {
    background-color: #152a38;
    color: blanchedalmond;
    border-radius: 7px;
}

/* FIN DE HEADER*/
/*ANUNCIO HEADER*/

.anuncio-header{
 color: rgb(223, 17, 17);
 text-align: center;
 background-color:#d6cfb9;

}

 .anuncio-header p{ 
    margin-bottom: 0px;

}
/*FIN DE ANUNCIO HEADER*/

/*SECCIÓN 1 CARRUSEL*/

.carousel-caption .d-none .d-md-block a:link {

    background-color: white;
    color: black;
  
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 7px;
  }
  
 
    
  .carousel-caption .d-none .d-md-block a:visited {
      background-color: white;
      color: black;
      
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: 20px;
    }
    
    .carousel-caption .d-none .d-md-block a:hover {
      background-color: #152a38;
      color: white;
    }
    .carousel-caption .d-none .d-md-block a:active {
      background-color: g#152a38;
    color: white;
    } 
/*FIN SECCIÓN 1 CARRUSEL*/


/*SECCIÓN 2 CATEGORIAS*/
.title{

 text-align: center;

}

.categ{
text-align:left;
}

.card-body a:link {

  background-color: white;
  color: black;

  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 7px;
}

.card-body {
    text-align: center;
}
  
.card-body a:visited {
    background-color: white;
    color: black;
    
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
  }
  
  .card-body a:hover {
    background-color: #152a38;
    color: white;
  }
  .card-body a:active {
    background-color: g#152a38;
  color: white;
  } 


/*FIN SECCIÓN 2*/

/*SECCIÓN 3 PRESENTACIÓN*/


/*FOOTER*/

footer {
    background-color: #2f5241;
    color: white;
}
.col-md-6{
 list-style: none;
}

.col-md-6 a {
    text-decoration: none;

}

.col-md-6 li  a:link {
   color: white;

}

.col-md-2{
    list-style: none;
}

.col-md-2 a {
    text-decoration: none;
}

.col-md-2 li a:link {
    color: white;

}

.facebook img{
 width:30px;
 height:30px;

}

.instagram img{
 width:30px;
 height:30px;

} 
 


/*FIN FOOTER*/

/*FIN DE INDEX.HTML*/

/*CONTACTO.HTML*/

.contac{
 display: block;
 position: relative;
 left:450px;
    
}

.contac input{
 margin-bottom: 10px;

}

.input-contac-block{
display: block;

}
/*FIN DE CONTACTO.HTML*/

/*INICIO-SESION.HTML*/
#inicio-sesion h1{
    text-align: center;
    margin-bottom: 30px;
}

.inicio{
 display: block;
 position:relative;
 left: 575px;

}

.inicio input{
 margin-bottom: 10px;
 display: block;

}


#inicio-sesion .sesion-nav{
    display: inline-block;
    position:relative;
    top:0px;
    left: 500px;
   
}

#inicio-sesion .sesion-nav li{
 list-style-type:none;
   
}
   
#inicio-sesion .sesion-nav li a{
 display:block;
 color:rgb(5, 5, 5);
 text-decoration:none;
 padding:2px;

}
/* FIN DE INICIO-SESION.HTML*/

/*VELAS.HTML*/
#velas {
 display: inline-block;
 
}

#velas h1 {
    text-align: center;
    padding: 50px;
    
   }

#velas.descript-velas a img{
width: 400px;
height: 300px;

}

div.descript-velas {
 margin: 5px;
 border: 1px solid #ccc;
 float: left; 
 width: 400px;

}
  
div.descript-velas {
 border: 1px solid #777;

}
  
div.descript-velas img {
 width: 100%;
 height: auto;

}
  
div.descript {
 padding: 15px;
 text-align: center;

}

/* FIN DE VELAS.HTML*/

/* ACEITES.HTML*/

#aceites {
    display: inline-block;
    
   }
   
   #aceites h1 {
       text-align: center;
       padding: 50px;
       
      }
   
   #aceites.descript-aceites a img{
   width: 400px;
   height: 300px;
   
   }
   
   div.descript-aceites {
    margin: 5px;
    border: 1px solid #ccc;
    float: left; 
    width: 400px;
   
   }
     
   div.descript-aceites {
    border: 1px solid #777;
   
   }
     
   div.descript-aceites img {
    width: 100%;
    height: auto;
   
   }
     
   div.descript {
    padding: 15px;
    text-align: center;
   
   }
/* FIN DE ACEITES.HTML*/

